In [1]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [4]:
n=300

In [5]:
print(n)

300

In [6]:
n

300

In [7]:
300

300

In [8]:
n=1000
print(n)

1000

In [9]:
a = b = c = 300
print(a, b, c)

300 300 300

In [12]:
s = 'goo'

print(s in 'That food for us goose')

print(s in 'That god for us')

True
False

In [1]:
a=2
b=3
c=1
if(a>c)
    print(a)
elif(a<c)
    print("betul")

SyntaxError: expected ':' (3257673685.py, line 4)

In [2]:
a=2
b=3
c=1
if(a>c):
    print(a)
elif(a<c):
    print("betul")

2

In [3]:
a=2
b=3
c=1
print(A>B || a>c)

SyntaxError: invalid syntax (4148068670.py, line 4)

In [4]:
a=2
b=3
c=1
print(A>B or a>c)

NameError: name 'A' is not defined

In [5]:
a=2
b=3
c=1
print(a>c or a>c)

True

In [6]:
a=2
b=3
c=1
if(a>b and a>c):
    print("tampil")
else:
    print("enggak")

enggak

In [7]:
sistem = ["saya", "pergi", "ke","LPPI", "kemang" ]
engineer= ["tidak", "jalan", "karena", "banjir"]
print(sistem[0],sistem[1],engineer[2],engineer[3])

saya pergi karena banjir

In [8]:
sistem = ["saya", "pergi", "ke","LPPI", "kemang" ]
engineer= ["tidak", "jalan", "karena", "banjir"]
print(sistem[0],engineer[0],sistem[1],engineer[2],engineer[3])

saya tidak pergi karena banjir

In [11]:
sistem = ["saya", "pergi", "ke","LPPI", "kemang" ]
engineer= ["tidak", "jalan", "karena", "banjir"]
engineer[0]="tetap"
print(sistem[0],engineer[0],sistem[1],engineer[2],engineer[3])

saya tetap pergi karena banjir

In [12]:
a=6
b=7
c=8
if (c>a):
    if(b>c):
        print("true")
else: 
    print(false)

In [13]:
a=6
b=7
c=8
if (c>a):
    print("true")
else: 
    print(false)

true

In [14]:
a=6
b=7
c=8
if (c>a):
    if(b>c):
    print("true")
else: 
    print(false)

IndentationError: expected an indented block after 'if' statement on line 5 (3708348631.py, line 6)

In [15]:
a=6
b=7
c=8
if c>a:
    if b>c:
        print("true")
else: 
    print(false)

In [19]:
a=6
b=7
c=8
if c>a:
    if b>c:
        print("true")
    else: 
        print("false")

false

In [32]:
nama=["nama1","nama2", "nama3","nama4","nama5"]
nilaiA=[80,55,80,75,90]
nilaiB=[70,90,60,70,80]

for x in range(5):
    if nilaiA[x]>60 and nilaiB[x]>60 :
        print(nama[x],"lulus")
    else:
        print(nama[x],"gagal")

nama1 lulus
nama2 gagal
nama3 gagal
nama4 lulus
nama5 lulus

In [41]:
nama=input("nama:")
hobby=input("hobby:")
email=input("email:")
telepon=input("telepon")
nilai=int(input("nilai:"))


print("ur username:" + nama )
print("ur hobby:" + hobby )
print("ur email:" + email )
print("urtelepon:" + telepon )
print("nilai anda:", nilai)

if nilai<60:
    print("status: gagal")
else:
    print("status: Lulus")

input:bejo
hobby:rokok
email:bejo@mail
telepon094906u
nilai:58
ur username:bejo
ur hobby:rokok
ur email:bejo@mail
urtelepon:094906u
nilai anda: 58
status: gagal

In [43]:
def num_converter(num):
    binary = bin(num)  # Convert to binary
    octal = oct(num)  # Convert to octal
    hex_num = hex(num)  # Convert to hex
    return binary, octal, hex_num

In [46]:
decimal_num = int(input("Enter a decimal number: "))

binary_result, octal_result, hex_result = num_converter(decimal_num)

print("** Conversions **")
print(f"Decimal to Binary: {decimal_num} -> {binary_result}")
print(f"Decimal to Octal: {decimal_num} -> {octal_result}")
print(f"Decimal to Hexadecimal: {decimal_num} -> {str( hex_result )[2:]}")  # remove leading '0x'

Enter a decimal number: 50
** Conversions **
Decimal to Binary: 50 -> 0b110010
Decimal to Octal: 50 -> 0o62
Decimal to Hexadecimal: 50 -> 32

In [1]:
s=12
arr=[]
while s<18 :
    if s<16:
        arr.append(s)
        
        print (arr)
    else:
        print(arr)
        break
    s+=1

[12]
[12, 13]
[12, 13, 14]
[12, 13, 14, 15]
[12, 13, 14, 15]

In [5]:
s=12
arr=[]
while s<20 :
    if s<16:
        arr.append(s)
        
        
    elif s>18:
        print(arr, "selesai")
        print("S=",s)
        break
    s+=1

[12, 13, 14, 15] selesai
S= 19

false